<?xml version="1.0"?>
<robot name="my_robot">

  <!-- Corpo -->
  <link name="chassis">

    <inertial>
      <mass value="1.0"/>
      <inertia
        ixx="0.01"
        ixy="0.0"
        ixz="0.0"
        iyy="0.01"
        iyz="0.0"
        izz="0.01"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <mesh
          filename="package://pioneer2dx/meshes/chassis.dae"
          scale="0.9 0.5 0.5"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.4 0.2 0.1"/>
      </geometry>
    </collision>

  </link>


  <!-- Caster -->
  <link name="caster_link">

    <inertial>
      <mass value="0.01"/>
      <inertia
        ixx="0.00001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.00001"
        iyz="0.0"
        izz="0.00001"/>
    </inertial>

    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
    </collision>

  </link>


  <!-- Roda esquerda -->
  <link name="left_wheel">

    <inertial>
      <mass value="0.1"/>
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.001"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>

  </link>


  <!-- Roda direita -->
  <link name="right_wheel">

    <inertial>
      <mass value="0.1"/>
      <inertia
        ixx="0.001"
        ixy="0.0"
        ixz="0.0"
        iyy="0.001"
        iyz="0.0"
        izz="0.001"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.1" length="0.05"/>
      </geometry>
    </collision>

  </link>


  <!-- Juntas -->
  <joint name="caster_joint" type="fixed">

    <parent link="chassis"/>
    <child link="caster_link"/>

    <origin xyz="-0.15 0 -0.05" rpy="0 0 0"/>

  </joint>


<joint name="left_wheel_hinge" type="continuous">

  <parent link="chassis"/>
  <child link="left_wheel"/>

  <origin xyz="0.1 0.13 0" rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

  <dynamics damping="0.02" friction="0.02"/>

</joint>


<joint name="right_wheel_hinge" type="continuous">

  <parent link="chassis"/>
  <child link="right_wheel"/>

  <origin xyz="0.1 -0.13 0" rpy="0 0 0"/>

  <axis xyz="0 1 0"/>

  <dynamics damping="0.02" friction="0.02"/>

</joint>

  <!-- Controle das rodas -->
  <ros2_control name="GazeboSystem" type="system">

    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>


    <joint name="left_wheel_hinge">

      <command_interface name="velocity"/>

      <state_interface name="position"/>

      <state_interface name="velocity"/>

    </joint>


    <joint name="right_wheel_hinge">

      <command_interface name="velocity"/>

      <state_interface name="position"/>

      <state_interface name="velocity"/>

    </joint>

  </ros2_control>


  <!-- Atrito das rodas -->
  <gazebo reference="caster_link">
    <mu1>0.001</mu1>
    <mu2>0.001</mu2>
  </gazebo>


  <gazebo reference="left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>


  <gazebo reference="right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
  </gazebo>


  <!-- Plugin do Gazebo -->
  <gazebo>

    <plugin
      name="gazebo_ros2_control"
      filename="libgazebo_ros2_control.so">

      <robot_param>robot_description</robot_param>

      <robot_param_node>robot_state_publisher</robot_param_node>
      
      <hold_joints>false</hold_joints>

      <parameters>CONTROLLERS_YAML_PATH</parameters>

    </plugin>

  </gazebo>

</robot>
